<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="card2 card border-0 px-4 py-5">

<h2>USER LOGIN</h2>                                                                                                                   
    <form #f="ngForm" (ngSubmit)="login(f)" >
   
        <div class="row px-3"> 
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Email Address</h6>
            </label> 
            <input #email name="email"(ngModel)="email" [ngClass]="{ 'is-invalid': submitted && f.controls.email.errors }" type="email" placeholder="Enter a valid email address" required> 
            <div *ngIf="submitted && f.controls.email.errors" class="invalid-feedback">
                <div *ngIf="f.controls.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
            </label> 
            <input autocomplete='true' type="password" #password name="password"(ngModel)="password" [ngClass]="{ 'is-invalid': submitted && f.controls.password.errors }" placeholder="Enter password" required> 
            <div *ngIf="submitted && f.controls.password.errors" class="invalid-feedback">
                <div *ngIf="f.controls.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="row px-3 mb-4">
            <div class="custom-control custom-checkbox custom-control-inline"> 
                <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
        </div>
        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
    </form>
    <div class="row mb-4 px-3">
         <!-- <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small>  -->
    </div>
</div>