<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left d-none d-md-block">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <!-- <h3>Welcome</h3> -->
            <h3>Technician Form</h3>
            <p>Kindly fill in all the Vehicle Data </p>
            <input type="submit" name="" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
           
            <h3 class="d-block d-none d-sm-block d-md-none" style="text-align:center;">Technician Form</h3>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                    <h3 class="register-heading">Vehicle Data</h3>
                    <form >
                            
                    
                    <div class="row register-form">
                        <span id="emailHelp" class="form-text text-muted">*Please only use capital letters and no punctuation marks. </span>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vehicleplate">Vehicle Plate</label>
                                <input type="text" class="form-control" placeholder="Vehicle Plate *" value="" />
                            </div>
                            <div class="form-group">
                                <label for="vehiclebrand">Vehicle Brand</label>
                                <input type="text" class="form-control" placeholder="Vehicle Brand *" value="" />
                            </div>
                            <div class="form-group">
                                <label for="vehiclemodel">Vehicle Model</label>
                                <input type="text" class="form-control" placeholder="Vehicle Model *" value="" />
                            </div>
                            <div class="form-group">
                                <label for="vehicleyear">Vehicle Year</label>
                                <input type="text" class="form-control" placeholder="Vehicle Year *" value="" />
                            </div>
                            <div class="form-group">
                                <label for="vehiclecolor">Vehicle Color </label>
                                <input type="text" class="form-control" placeholder="Vehicle Color *" value="" />
                            </div>
                           
                            
                            <!-- <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="male" checked>
                                        <span> Male </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="female">
                                        <span>Female </span> 
                                    </label>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="solicitedservice">Solicited service</label>
                                <input type="number" minlength="0" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Vehicle Observations" value="" />
                            </div>
                            <div class="form-group">
                                <label for="solicitedservice">Solicited service</label>
                                <div class="maxl">
                                    
                                    <label class="radio inline"> 
                                        <input type="radio" name="solicitedservice" value="service1" checked>
                                        <span> Service 1 </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" name="solicitedservice" value="service2">
                                        <span>Service 2 </span> 
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="specificationsservice">Specifications Service</label>
                                <input type="text"  name="rfc" class="form-control" placeholder="Specifications Service*" value="" />
                            </div>
                            <div class="form-group">
                                <label for="vehicleentrydate">Vehicle Entry Date</label>
                                <input type="date" name="txtEmpPhone" class="form-control" placeholder="Vehicle Entry Date*" value="" />
                            </div>
                            <div class="form-group">
                                <label for="proposedvehicledeparturedate">Proposed Vehicle Departure Date</label>
                                <input type="date" name="txtEmpPhone" class="form-control" placeholder="Proposed Vehicle Departure Date " value="" />
                            </div>

                            <input type="submit" class="btnRegister"  value="Submit"/>
                        </div>
                    </div>
                </form>
                </div>
               
            </div>
        </div>
    </div>

</div>