<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left d-none d-md-block">
            <div class="sss">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <!-- <h3>Welcome</h3> -->
            <h3>Technician Form</h3>
            <p>Kindly fill in all the Vehicle Data </p>
            <!-- <input type="submit" name="" value="Login"/><br/> -->
            </div>
        </div>
        <div class="col-md-9 register-right">
           
            <h3 class="d-block d-none d-sm-block d-md-none" style="text-align:center;">Technician Form</h3>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                    <h3 class="register-heading">Vehicle Data</h3>
                    <form #f="ngForm" (ngSubmit)="vehicleSubmit(f.value)" >
                            
                    
                        <div class="row register-form">
                            <span id="emailHelp" class="form-text text-muted">*Please only use capital letters and no punctuation marks. </span>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="client">Client</label>
                                    <ng-multiselect-dropdown
                                    [placeholder]="'custom placeholder'"
                                    [settings]="dropdownSettings"
                                    [data]="allclients"
                                    #user
                                    (ngModel)="client"
                                    name="client"
                                    (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                  >
                                  </ng-multiselect-dropdown>
                                </div>
                                <div class="form-group">
                                    <label for="vehicleplate">Vehicle Plate</label>
                                    <input type="text" #vehicle_plate (ngModel)="vehicle_plate" name="vehicle_plate" class="form-control" placeholder="Vehicle Plate *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="vehiclebrand">Vehicle Brand</label>
                                    <input type="text" #vehicle_brand (ngModel)="vehicle_brand" name="vehicle_brand" class="form-control" placeholder="Vehicle Brand *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="vehiclemodel">Vehicle Model</label>
                                    <input type="text" #vehicle_model (ngModel)="vehicle_model" name="vehicle_model"  class="form-control" placeholder="Vehicle Model *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="vehicleyear">Vehicle Year</label>
                                    <input type="text" #vehicle_year (ngModel)="vehicle_year" name="vehicle_year" class="form-control" placeholder="Vehicle Year *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="vehiclecolor">Vehicle Color </label>
                                    <input type="color" #vehicle_color (ngModel)="vehicle_color" name="vehicle_color" class="form-control" placeholder="Vehicle Color *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="vehicle_observation">Vehicle Observation </label>
                                    <input type="number" #vehicle_observation (ngModel)="vehicle_observation" name="vehicle_observation" class="form-control" placeholder="Vehicle Observation *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="specificationsservice">Service Specifications</label>
                                    <input type="text" #service_specification (ngModel)="service_specification"  name="service_specification" class="form-control" placeholder="Service Specifications *" value="" />
                                </div>
                                
                                <!-- <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline"> 
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span> 
                                        </label>
                                        <label class="radio inline"> 
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span> 
                                        </label>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="vehicleentrydate">Vehicle Entry Date</label>
                                    <input type="datetime-local" #vehicle_entry_date (ngModel)="vehicle_entry_date" name="vehicle_entry_date" [min]="mindate" class="form-control" placeholder="Vehicle Entry Date*" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="liters_of_gasoline">Liters of Gasoline</label>
                                    <input type="number" #liters_of_gasoline (ngModel)="liters_of_gasoline" name="liters_of_gasoline" class="form-control" placeholder="Liters of Gasoline *" value="" />
                                </div>
                            
                                <div class="form-group">
                                    <label for="solicitedservice">Solicited service</label>
                                    <!-- <div class="maxl">
                                        
                                        <label class="radio inline"> 
                                            <input type="radio" #solicitedservice (ngModel)="solicitedservice" name="solicitedservice" value="Chassis" checked>
                                            <span> Chassis </span> 
                                        </label><br>
                                        <label class="radio inline"> 
                                            <input type="radio" #solicitedservice (ngModel)="solicitedservice" name="solicitedservice" value="generalservice">
                                            <span>General service</span> 
                                        </label><br>
                                        <label class="radio inline"> 
                                            <input type="radio" #solicitedservice (ngModel)="solicitedservice" name="solicitedservice" value="tuning">
                                            <span>Tuning</span> 
                                        </label><br>
                                        <label class="radio inline"> 
                                            <input type="radio" #solicitedservice (ngModel)="solicitedservice" name="solicitedservice" value="carbalancing">
                                            <span>Car Balancing</span> 
                                        </label><br>
                                        <label class="radio inline"> 
                                            <input type="radio" #solicitedservice (ngModel)="solicitedservice"  name="solicitedservice" value="oilchanges">
                                            <span>Oil Changes</span> 
                                        </label><br>
                                        <label class="radio inline"> 
                                            <input type="radio"  value="brakes">
                                            <span>Brakes</span> 
                                        </label>
                                        
                                        
                                        
                                    </div> -->
                                    <select #solicited_service (ngModel)="solicited_service" name="solicited_service" class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="chassis">Chassis</option>
                                        <option value="generalservice">General service</option>
                                        <option value="tuning">Tuning</option>
                                        <option value="carbalancing">Car Balancing</option>
                                        <option value="oilchanges">oilchanges</option>
                                      </select>
                                </div>
                               
                            
                                <div class="form-group">
                                    <label for="proposedvehicledeparturedate">Proposed Vehicle Departure Date</label>
                                    <input type="datetime-local" #proposed_departure_date (ngModel)="proposed_departure_date" [min]="mindate" name="proposed_departure_date" class="form-control" placeholder="Proposed Vehicle Departure Date " value="" />
                                </div>

                               
                                <div class="form-group">
                                    <label for="technicianincharge">Technician Incharge</label>
                                    <input type="text"  value="Alihusa" readonly  class="form-control">  
                                    
                                </div>

                                <input type="submit" class="btnRegister"  value="Submit"/>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>

</div>