
    <!-- Navbar -->
    <app-top-navbar></app-top-navbar>
   
     
   
      <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <app-mainside-navbar></app-mainside-navbar>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <app-dashboard></app-dashboard>
      <!-- <router-outlet name="chart"></router-outlet> -->
     
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    
    <app-footbar></app-footbar>
  <!-- ./wrapper -->